# -------------------------
# Global
# -------------------------
# Target environment tag (controls config/state directories)
# Options: testnet, mainnet
export DEPLOY_ENV=testnet

# Private key and RPC endpoint used by all phases when broadcasting
export PRIVATE_KEY=0x
export RPC_URL=RPC_URL

# -------------------------
# Gas Controls
# -------------------------
export GAS_PRICE=5000000000
export GAS_LIMIT=600000000

# -------------------------
# Phase: Deploy
# -------------------------
export ETHERSCAN_API_KEY=verifyContract

# Wrapped native token used by RouterV2 constructor (same address on testnet/mainnet)
export WXPL=0x3576E9157cF2e1dB071b3587dEbBFb67D9e0962d

# For initial pair
export INITIAL_LITHOS_AMOUNT=100000000000000000000000
export INITIAL_WXPL_AMOUNT=1000000000000000000000

# Initial mint recipient address (50M LITH)
export INITIAL_MINT_RECIPIENT=0x

# For activating Minter
ACTIVATE_MINTER=false
